$dark_blue: #14213D;
$blue: #32436B;
$light_blue: #506185;
$green: #4EA039;
$color: rgba(255, 255, 255, 0.87);
$bg: #242424;

$font-stack: system-ui, Avenir, Helvetica, Arial, sans-serif;
$fsize: 20px;

:root {
  font-family: $font-stack;
  font-size: $fsize;
  color: $color;
}

body {
    background-color: $dark_blue;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
}



.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-block: 20px;
    padding-block: .5rem;
    padding-left: 20px;
    height: 2rem;
    width: min(90%, 830px);
    background-color: $light_blue;
    input {
        flex: 1;
        color: white;
        background: none;
        border: none;
    
        font-size: 2rem;
        
        &::placeholder {
            color: $blue;
        }

        &:focus {
            outline: none;
        }
    }
    button{
        font-size: 2rem;
        background: none;
        height: 1.5rem;
        width: 60px;
        color: $blue;
        border-left: 2px solid $blue;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}




ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    padding: 0;
    list-style: none;
}
.task-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 15px;
    width: 100%;
    padding-inline: 0;
    background-color: $blue;
    font-size: 1.5rem;

    input[type="checkbox"] {
        appearance: none;
        height: auto;
        width: 50px;
        margin: 0;



        &::after{
            content: "⎷";
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            font-size: 2rem;
            color: #2227;
            background-color: #ddd3;
            border-radius: 15px;
            text-align: center;
        }
    }

    span, input[type="text"] {
        flex: 1;
        margin: 10px;
        background: none;
        border: none;
        text-align: center;
        font-family: $font-stack;
        color: white;
        font-size: 2rem;
        letter-spacing: 2px;
        outline: none;
        overflow-x:hidden ;
        word-wrap: break-word;
    }

    .modify {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        max-width: 50px;
        background-color: #ddd3;
        color: #2227;
        border-radius: 15px;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        overflow-x: hidden;
        padding: 0;
    }
}

.checked{
    background-color: $green;
}

button {
    margin: 0;
    border: none;
}


@media screen and (max-width: 575px) {
    span, input {
        font-size: 1rem !important;
    }
}